site_name: Documention for Genotool
site_url: https://docs.genotool.com
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.footer
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: #160781
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: #160781
      accent: deep orange

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Drawing Your Genogram:
    - Drawing Management: drawing-management.md
    - Adding Family Members: adding-family-members.md
    - Setting Up a Person: setting-up-person.md
    - Family Relations: relations.md
    - Emotional Relations: emotional-relations.md
  - Settings & Customization:
    - Canvas Settings: canvas-settings.md
    - Fonts: fonts.md
    - Birthday / Age: birthday.md
    - Legend: legend.md
    - Groups: groups.md
    - Zoom & Navigation: zoom-and-navigation.md
  - Export & Import: export-import.md
  - Account & Teams:
    - Account Management: account.md
    - Teams: teams.md
    - Subscriptions: subscriptions.md
    - Cancel Subscription: cancel-subscription.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: simple/youtube
      link: https://www.youtube.com/@genotoolonline3189
    - icon: simple/linkedin
      link: https://www.linkedin.com/company/genotool

copyright: Copyright &copy; 2026 Genotool.com
